a {
  text-decoration: none ;
  font-size: 1.2rem;
  color: $white;
  @media (min-width: 80rem) {
    font-size: 1.5rem;
  }
}

body {
  margin: 0;
  color: $white;
  background-image: url("./../../img/banners/Background_catusa.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

html {
  font-size: 10px;
  font-family: $main-typo;
  margin: 0;
  scroll-behavior: smooth;
 background-color: $black;
}

body::-webkit-scrollbar {
  width: .7rem;
}
body::-webkit-scrollbar-track {
  background-color: $black;
}
body::-webkit-scrollbar-thumb {
  background-color: $blue-main;
  border-radius: 1rem;
}

h1 {
  color: $white;
  font-size: $typo-l;
  @media (min-width: 60rem) {
    font-size: $typo-xxl;
  }
}

h2 {
  color: $blue-secondary;
  font-size: $typo-l;
  @media (min-width: 80rem) {
    font-size: $typo-xl;
  }
}

h3 {
  font-size: $typo-m;
  @media (min-width: 80rem) {
    font-size: $typo-l;
  }
}

h4 {
  font-size: $typo-m;
  @media (min-width: 80rem) {
    font-size: $typo-m;
  }
}

h1, h2 {
  text-transform: uppercase;
}

p {
  font-size: $typo-s;
  line-height: 1.7;
  text-align: justify;

}

ul, li {
  font-size: $typo-s;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}


.display-col-row60 {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 40rem) {
     flex-direction: row;
  }
}

.grid-top {
  margin-top: 3rem;
  @media (min-width: 40rem) {
    margin-top: 6rem;
  }
}

.grid-top--sections {
  margin-top: 5rem;
  @media (min-width: 40rem) {
    margin-top: 10rem;
  }
}

.title__positions {
  position: relative;
}

.title__span {
  color: $white;
  -webkit-text-stroke: 0px;
  position: absolute;
  z-index: 2;
  margin-top: 1rem;
  margin-left: 1.8rem;
  
  @media (min-width: 60rem) {
    margin-top: 2rem;
    margin-left: 3rem;
  }
}

.none {
  display: none;
  @media (min-width: 60rem) {
   display: inline-block;
  }
}

.clear{
  margin-top: 45rem;
  @media (min-width: 30rem) {
    margin-top: 35rem;
   }
  @media (min-width: 60rem) {
    margin-top: 45rem;
   }
  @media (min-width: 70rem) {
    margin-top: 60rem;
  }
}

.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.grow {
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.5);
    }
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  @media (min-width: 120rem) {
    width: 130rem;
  } 
}

.wrapper__inter {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  @media (min-width: 120rem) {
    width: 110rem;
  } 
}
