// Typografic
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$main-typo: 'Roboto', sans-serif;
$title: 'Anton', sans-serif;


// Colors

$black:#313131;
$blue-main: #081329;
$blue-secondary: #20c9ac;
$blue-hover: #0e967f;
$purple: #8368cf;
$white: #dfd7d7;

$size: 1rem;

// base-Typography

$typo-xs: $size;
$typo-s: $size * 1.4;

// Mobile-Typography

$typo-m: $size * 1.8;
$typo-l: $size * 2.6;

// Desktop-Typography

$typo-xl: $size * 3.4;
$typo-xxl: $size * 4.6;

