.activities__section {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
    justify-content: space-between;
    gap: 4rem;

    li {
        line-height: 2;
    }
    
    @media (min-width: 70rem) {
        flex-direction: row;
    }
}

.activities__section-items {
    border: 0.2rem solid green;
    border-radius: 5rem;
    padding: 1rem 1rem 1rem 5rem;
}

.activities__title {
    padding-bottom: 3rem;
}

.asociados__content {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin-bottom: 10rem;
    @media (min-width: 70rem) {
        flex-direction: row;
    }
}

.asociados__content-item {
    h3 {
        display: inline-block;
        color: $blue-secondary;
        padding-bottom: 1rem;
        border-bottom: 2px solid $blue-secondary;
    }
}

.asociados__content-item-descripcion {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 3rem;


    @media (min-width: 70rem) {
        flex-direction: row;

        img {
            width: 20%;
        }
    }
}


.asociados__content-left {
    @media (min-width: 70rem) {
      width: 50%;
    }
}

.asociados__content-right {
    @media (min-width: 70rem) {
        width: 50%;
      }
}

.flora-fauna__content {
    margin-bottom: 10rem;
}

.news {
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    
}

.news__img {
    border-radius: 50%;
    width: 50%;
    @media (min-width: 70rem) {
        width: 20%;
    }
}

.news__wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    &:hover {
        box-shadow: rgba(203, 199, 224, 0.15) 0px 48px 100px 0px;
        border: 0.1rem solid $white;
        border-radius: 5px;
      }

      @media (min-width: 70rem) {
        p {
            width: 70%;
        }
       flex-direction: row;
       gap: 3rem;
      }
}

.news__content-a {
    margin-left: 70%;
    color: $blue-secondary;
    &:hover {
        color: $white;
        border: 0.1rem solid $white;
        padding: 1rem;
        border-radius: 5px;
      }
}

.news-post__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
    @media (min-width: 70rem) {
        flex-direction: row;
        gap: 3rem;
      }
}

.news-post__content {
    img {
        width: 90%;
    }
    @media (min-width: 70rem) {
       width: 50%;

       img {
        width: 100%;
       }
      }
}